* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
    background-color: #FFFFFF;
    /* padding: 16px 120px 16px 120px; */
}

.container {
    width: 1600px;
    height: 92px;
    max-width: 1140px;
    margin: 0px auto;
}

.logo {
    width: 139px;
    height: 60px;
    padding: 16px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.btn {
    width: 164px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
}

.btn:hover {
    border: 3px solid rgb(42, 43, 43);
    background-color: burlywood;
}