* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
    background-color: #FFFFFF;
}

.container {
    width: 1600px;
    height: 86px;
    max-width: 1140px;
    margin: 0px auto;
}

.logo {
    margin-top: -20px;
    width: 139px;
    height: 36px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

.btn {
    width: 164px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
}

.btn:hover {
    border: 3px solid rgb(42, 43, 43);
    background-color: burlywood;
}

#banner {
    background: url("../assets/hero-bg.png");
    position: relative;
    height: 70vh;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    gap: 16;
}

.black-shadow {
    position: absolute;
    background: linear-gradient(to right,
    rgba(0, 25, 49, 1) 0%,
    rgba(0, 25, 49, 0.3) 30%,
    rgba(0, 25, 49, 0.6) 60%,
    rgba(0, 25, 49, 0) 100%
    );
    inset: 0;
}

.banner-content {
    position: relative;
    max-width: 800px;
    padding: 20px;
    margin-top: 154px;
    margin-bottom: 179px;
}

.early-access {
    display: inline-block;
    align-items: center;
    background: #FFFFFF;
    color: #2f855a;
    border: 1px solid #FFFFF3;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: .9rem;
    margin-bottom: 2rem;
}

.green-dot {
    width: 8px;
    height: 8px;
    background-color: #4ade80;
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: 0 0 8px #4ade80;
}

#banner h1 {
    font-size: 56px;
    line-height: 84px;
    margin-bottom: 2rem;
    font-style: Bold;
    font-weight: 700;
}

#banner h1 span {
    color: #3cb371;
}

#banner p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.banner-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    cursor: pointer;
}

.btn-primary {
    width: 251px;
    height: 52px;
    background: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 12px 16px 12px 16px;
}

.btn-primary span {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    /* padding-top: 50px; */
}

.btn-secondary {
    width: 198px;
    height: 52px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 12px 16px 12px 16px;
}

.btn-secondary span {
    margin-right: 10px;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: burlywood;
}

