* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
    background-color: #FFFFFF;
}

.container {
    width: 1600px;
    height: 86px;
    max-width: 1140px;
    margin: 0px auto;
}

.logo {
    margin-top: -20px;
    width: 139px;
    height: 36px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

.btn {
    width: 164px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
}

.btn:hover {
    border: 3px solid rgb(42, 43, 43);
    background-color: burlywood;
}

#banner {
    background: url("../assets/hero-bg.png");
    position: relative;
    height: 70vh;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    gap: 16;
}

.black-shadow {
    position: absolute;
    background: linear-gradient(to right,
    rgba(0, 25, 49, 1) 0%,
    rgba(0, 25, 49, 0.3) 30%,
    rgba(0, 25, 49, 0.6) 60%,
    rgba(0, 25, 49, 0) 100%
    );
    inset: 0;
}

.banner-content {
    position: relative;
    max-width: 800px;
    padding: 20px;
    margin-top: 154px;
    margin-bottom: 179px;
}

.early-access {
    display: inline-block;
    align-items: center;
    background: #FFFFFF;
    color: #2f855a;
    border: 1px solid #FFFFF3;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: .9rem;
    margin-bottom: 2rem;
}

.green-dot {
    width: 8px;
    height: 8px;
    background-color: #4ade80;
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: 0 0 8px #4ade80;
}

#banner h1 {
    font-size: 56px;
    line-height: 84px;
    margin-bottom: 2rem;
    font-style: Bold;
    font-weight: 700;
}

#banner h1 span {
    color: #3cb371;
}

#banner p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.banner-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    cursor: pointer;
}

.btn-primary {
    width: 251px;
    height: 52px;
    background: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 12px 16px 12px 16px;
}

.btn-primary span {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    /* padding-top: 50px; */
}

.btn-secondary {
    width: 198px;
    height: 52px;
    background: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
}

.btn-secondary span {
    margin-right: 10px;
}

.btn-primary:hover, 
.btn-secondary:hover,
.btn-early-access:hover {
    background-color: rgb(72, 41, 245);
}

.card-section {
    text-align: center;
    background-color: #FFF;
}

.card-section h2 {
    margin-top: 60px;
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 16px;
}

.card-section p {
    width: 1360px;
    height: 20px;
    margin-bottom: 44px;
    font-size: 16px;
    color: #627382;
    font-weight: 400;
    line-height: 20px;
}
.card-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.card {
    width: 322px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .06);
}

.card img {
    width: 32px;
    height: 32px;
    padding: 2.5px 0.5px 3.5px 0.5px;
    background-color: #F95555;
    border-radius: 50%;
    margin: 69px 131px 16px 131px;
}

.card h3{
    width: 274px;
    height: 29px;
    color: #001931;
    font-size: 24px;
    font-weight: bold;
    font-weight: 600px;
    margin-bottom: 16px;
}

.card p {
    width: 274px;
    height: 40px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.card .special {
    margin-top: 48px;
}

.brain-container {
    width: 1360px;
    height: 600px;
    margin: 120px 120px 120px 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 60;
}

.brain-img {
    margin-right: 60px;
    width: 600px;
    height: 600px;
    border-radius: 12px;
    background: url(image);
}

.solution {
    width: 700px;
    height: 396px;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    /* gap: 16; */
}

.solution h6 {
    color: #30B868;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}

.solution h2 {
    color: #001931;
    font-style: bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;
}

.solution-part p {
    color: #627382;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.check-list {
    margin-top: 30px;
    list-style: none;
    color: #001931;
    align-items: center;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
}

.check-list li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.challenge {
    background-color: #F7F6F2;
    width: 1240px;
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    margin-left: 120px;
    margin-bottom: 120px;
    padding: 80px 40px 80px 40px;
}

.think-more {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
    gap: 16;
}

.think-more h2 {
    color: #001931;
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 16px;
}

.think-more p {
    color: #627382;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
}

.btn-early-access {
    width: 194px;
    height: 52px;
    background: #30B868;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 10px 20px 0px rgba (0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    margin-bottom: 16px;
}

.btn-early-access span {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


